.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #3C3C42;
    color:white;
    height: 100vh;
    width: 80px;
}
.navbar__item{
    display: flex;
    flex-direction: column;
    height: 56px;
    text-align: center;
    justify-content: center;
}
.navbar__item:hover {
    background: #373641;
    border-left: 1px solid white;
    cursor: pointer;
}

.navbar__item__icon{
    
}

.navbar__item__svg{
    height: 20px;
}